.table .td-actions{
    text-align: center;
    display: table-cell;
}

.sortable tr:hover{
    cursor : move;
}

.sortable .card:hover{
    cursor : move;
}

.thematic-templates{
    background-color: aliceblue!important;
}