<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">Nous avons ce dont vous avez besoin ?</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">
                    Découvrez de mnanière intéractive notre offre standard et universel.
                </p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#thematics">C'est parti !</a>
            </div>
        </div>
    </div>
</section>