{% if offer.fileDownload %}
    <section id="download" class="bg-dark text-white">
        <div class="container text-center">
            <h2 class="mb-4">Télécharger notre offre</h2>
            <a class="btn btn-light btn-xl sr-button" href="{{ asset(offer.fileDownload.webPath) }}"
               style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; transition: background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; ">
                Télécharger maintenant!
            </a>
        </div>
    </section>
{% endif %}