<footer id="footer">
    <div class="container">
        <div class="four columns"><div id="text-2" class="widget widget_text">			<div class="textwidget"><div class="ima-titre-footer">Securalliance</div>

                    <div class="ima-list"><a href="/groupement-securalliance/" title="Groupement d'entreprises de sécurité privée"> &gt; Groupement</a></div>
                    <div class="ima-list"><a href="/engagements-qualite/" title="Engagements qualité"> &gt; Engagements</a></div>
                    <div class="ima-list"><a href="/qualifications-entreprise-securite/" title="Qualité Sécurité"> &gt; Qualité</a></div>
                    <div class="ima-list"><a href="/innovations-entreprise-securite/" title="Innovations Sécurité"> &gt; Innovations</a></div>
                    <div class="ima-list"><a href="/garanties-ethique/" title="Garanties &amp; éthiques"> &gt; Garanties &amp; éthiques</a></div></div>
            </div></div>
        <div class="four columns"><div id="text-3" class="widget widget_text">			<div class="textwidget"><div class="ima-titre-footer">Prestations</div>

                    <div class="ima-list"><a href="/solutions-securite/surveillance-humaine/" title="Surveillance humaine"> &gt; Surveillance humaine</a></div>
                    <div class="ima-list"><a href="/solutions-securite/accueil-entreprise/" title="Accueil en entreprise"> &gt; Accueil en entreprise</a></div>
                    <div class="ima-list"><a href="/solutions-securite/controle-acces/" title="Contrôle des accès"> &gt; Contrôle des accès</a></div>
                    <div class="ima-list"><a href="/solutions-securite/securite-mobile/" title="Sécurité mobile"> &gt; Sécurité mobile</a></div>
                    <div class="ima-list"><a href="/partenaires/" title="Télé &amp; vidéo-surveillance"> &gt; Télé &amp; vidéo-surveillance</a></div></div>
            </div></div>
        <div class="four columns"><div id="text-6" class="widget widget_text">			<div class="textwidget"><div class="ima-titre-footer">Membres</div>

                    <div class="ima-list"><a href="http://www.atlas-securite.fr/" title="ATLAS Sécurité, membre de SECURALLIANCE">&gt; ATLAS Sécurité</a></div>
                    <div class="ima-list"><a href="http://www.atssecurite.fr/" title="ATS / FMS, membre de SECURALLIANCE">&gt; ATS / FMS</a></div>
                    <div class="ima-list"><a href="http://www.bslsecurite.fr" title="BSL Sécurité, membre de SECURALLIANCE">&gt; BSL Sécurité</a></div>
                    <div class="ima-list"><a href="http://www.groupesgp.fr/" title="Groupe SGP, membre de SECURALLIANCE">&gt; Groupe SGP</a></div>
                    <div class="ima-list"><a href="http://www.securalliance.fr/wp-content/uploads/2017/08/organigramme-securalliance-2017-BD.pdf" title="Organigramme Securalliance">&gt; Organigramme</a></div>

                </div>
            </div></div>
        <div class="four columns"><div id="text-5" class="widget widget_text">			<div class="textwidget"><div class="ima-titre-footer">Nous contacter</div>

                    <p><a href="/" title="Securalliance, 1er groupement d'entreprises de sécurité privée en France"><img src="http://www.securalliance.fr/wp-content/uploads/2016/04/logo-securalliance-blanc2.png" width="230" height="27"></a></p>
                    <p>9 rue Pierre Brossolette<br>
                        92300 Levallois Perret</p>
                    <p style="color:#d5ae51;"><img src="http://www.securalliance.fr/wp-content/uploads/2017/08/tel-securalliance-blanc2.png" width="150" height="32"></p></div>
            </div></div>
    </div>
</footer>