<style>
    header.masthead {
        padding-top: 7rem;
        padding-bottom: calc(7rem - 56px);
        background-image: url({{ asset(offer.background.path|imagine_filter('big')) }});
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

</style>

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img src="{{ asset(offer.logo.path|imagine_filter('small')) }}" height="70" alt="">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#thematics">Votre offre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#download">Téléchargement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Madame, Monsieur</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-12 mx-auto">
                <p class="text-faded">
                    En réponse à votre consultation, nous avons créé pour vous cette offre dématérialisée qui reflète
                    la motivation et la mobilisation de l’ensemble des équipes Securalliance à vous satisfaire.
                </p>

                <p class="text-faded">
                    Securalliance est le 1er réseau national d'opérateurs en sécurité privée.<br>
                    C’est la stratégie du GLOCAL : La proximité de PME et la puissance d’un réseau national.<br>
                    Votre prestation sur mesure encadrée par un interlocuteur dédié.<br>
                </p>
                <p class="text-faded">
                    J’aurai plaisir à vous rencontrer pour vous présenter plus en détail nos différences.
                </p>
                <p>
                    Sylvain MOUSLER<br>
                    Directeur commercial
                </p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#thematics">Accéder à votre offre !</a>
            </div>
        </div>
    </div>
</header>