{% extends 'Admin/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="red">
                    <i class="material-icons">pie_chart</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Pie Chart</h4>
                </div>
                <div class="ct-chart" id="chartPreferences">
                    <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="230px"
                         class="ct-chart-pie" style="width: 100%; height: 230px;">
                        <g class="ct-series ct-series-c">
                            <path d="M244.5,5A110,110,0,0,0,203.65,12.867L244.5,115Z" class="ct-slice-pie"
                                  ct:value="6"></path>
                        </g>
                        <g class="ct-series ct-series-b">
                            <path d="M204.006,12.725A110,110,0,0,0,169.48,195.449L244.5,115Z" class="ct-slice-pie"
                                  ct:value="32"></path>
                        </g>
                        <g class="ct-series ct-series-a">
                            <path d="M169.2,195.187A110,110,0,1,0,244.5,5L244.5,115Z" class="ct-slice-pie"
                                  ct:value="62"></path>
                        </g>
                        <g>
                            <text dx="295.63770672385385" dy="135.24685039765728" text-anchor="middle" class="ct-label">
                                62%
                            </text>
                            <text dx="190.47420120992211" dy="104.6940276977852" text-anchor="middle" class="ct-label">
                                32%
                            </text>
                            <text dx="234.1940276977851" dy="60.974201209922136" text-anchor="middle" class="ct-label">
                                6%
                            </text>
                        </g>
                    </svg>
                </div>
                <div class="card-footer">
                    <h6>Legend</h6>
                    <i class="fa fa-circle text-info"></i> Apple
                    <i class="fa fa-circle text-warning"></i> Samsung
                    <i class="fa fa-circle text-danger"></i> Windows Phone
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="blue">
                    <i class="material-icons">timeline</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Coloured Bars Chart
                        <small> - Rounded</small>
                    </h4>
                </div>
                <div class="ct-chart" id="colouredBarsChart">
                    <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="300px"
                         class="ct-chart-line" style="width: 100%; height: 300px;">
                        <g class="ct-grids">
                            <line y1="265" y2="265" x1="50" x2="682" class="ct-grid ct-vertical"></line>
                            <line y1="240" y2="240" x1="50" x2="682" class="ct-grid ct-vertical"></line>
                            <line y1="215" y2="215" x1="50" x2="682" class="ct-grid ct-vertical"></line>
                            <line y1="190" y2="190" x1="50" x2="682" class="ct-grid ct-vertical"></line>
                            <line y1="165" y2="165" x1="50" x2="682" class="ct-grid ct-vertical"></line>
                            <line y1="140" y2="140" x1="50" x2="682" class="ct-grid ct-vertical"></line>
                            <line y1="115" y2="115" x1="50" x2="682" class="ct-grid ct-vertical"></line>
                            <line y1="90" y2="90" x1="50" x2="682" class="ct-grid ct-vertical"></line>
                            <line y1="65" y2="65" x1="50" x2="682" class="ct-grid ct-vertical"></line>
                            <line y1="40" y2="40" x1="50" x2="682" class="ct-grid ct-vertical"></line>
                            <line y1="15" y2="15" x1="50" x2="682" class="ct-grid ct-vertical"></line>
                        </g>
                        <g>
                            <g class="ct-series ct-series-a">
                                <path d="M 50 193.25 C 60.533 189.167 92.133 177.208 113.2 168.75 C 134.267 160.292 155.333 149.542 176.4 142.5 C 197.467 135.458 218.533 130.5 239.6 126.5 C 260.667 122.5 281.733 124.5 302.8 118.5 C 323.867 112.5 344.933 95.042 366 90.5 C 387.067 85.958 408.133 93.5 429.2 91.25 C 450.267 89 471.333 80.875 492.4 77 C 513.467 73.125 534.533 71.917 555.6 68 C 576.667 64.083 597.733 60 618.8 53.5 C 639.867 47 671.467 33.083 682 29"
                                      class="ct-line"></path>
                                <line x1="50" y1="193.25" x2="50.01" y2="193.25" class="ct-point" ct:value="287"
                                      opacity="1"></line>
                                <line x1="113.2" y1="168.75" x2="113.21000000000001" y2="168.75" class="ct-point"
                                      ct:value="385" opacity="1"></line>
                                <line x1="176.4" y1="142.5" x2="176.41" y2="142.5" class="ct-point" ct:value="490"
                                      opacity="1"></line>
                                <line x1="239.60000000000002" y1="126.5" x2="239.61" y2="126.5" class="ct-point"
                                      ct:value="554" opacity="1"></line>
                                <line x1="302.8" y1="118.5" x2="302.81" y2="118.5" class="ct-point" ct:value="586"
                                      opacity="1"></line>
                                <line x1="366" y1="90.5" x2="366.01" y2="90.5" class="ct-point" ct:value="698"
                                      opacity="1"></line>
                                <line x1="429.20000000000005" y1="91.25" x2="429.21000000000004" y2="91.25"
                                      class="ct-point"
                                      ct:value="695" opacity="1"></line>
                                <line x1="492.40000000000003" y1="77" x2="492.41" y2="77" class="ct-point"
                                      ct:value="752"
                                      opacity="1"></line>
                                <line x1="555.6" y1="68" x2="555.61" y2="68" class="ct-point" ct:value="788"
                                      opacity="1"></line>
                                <line x1="618.8000000000001" y1="53.5" x2="618.8100000000001" y2="53.5" class="ct-point"
                                      ct:value="846" opacity="1"></line>
                                <line x1="682" y1="29" x2="682.01" y2="29" class="ct-point" ct:value="944"
                                      opacity="1"></line>
                            </g>
                            <g class="ct-series ct-series-b">
                                <path d="M 50 248.25 C 60.533 244.708 92.133 230.167 113.2 227 C 134.267 223.833 155.333 234.875 176.4 229.25 C 197.467 223.625 218.533 201.25 239.6 193.25 C 260.667 185.25 281.733 187.417 302.8 181.25 C 323.867 175.083 344.933 160.5 366 156.25 C 387.067 152 408.133 160.083 429.2 155.75 C 450.267 151.417 471.333 134.625 492.4 130.25 C 513.467 125.875 534.533 129.708 555.6 129.5 C 576.667 129.292 597.733 133.375 618.8 129 C 639.867 124.625 671.467 107.542 682 103.25"
                                      class="ct-line"></path>
                                <line x1="50" y1="248.25" x2="50.01" y2="248.25" class="ct-point" ct:value="67"
                                      opacity="1"></line>
                                <line x1="113.2" y1="227" x2="113.21000000000001" y2="227" class="ct-point"
                                      ct:value="152"
                                      opacity="1"></line>
                                <line x1="176.4" y1="229.25" x2="176.41" y2="229.25" class="ct-point" ct:value="143"
                                      opacity="1"></line>
                                <line x1="239.60000000000002" y1="193.25" x2="239.61" y2="193.25" class="ct-point"
                                      ct:value="287" opacity="1"></line>
                                <line x1="302.8" y1="181.25" x2="302.81" y2="181.25" class="ct-point" ct:value="335"
                                      opacity="1"></line>
                                <line x1="366" y1="156.25" x2="366.01" y2="156.25" class="ct-point" ct:value="435"
                                      opacity="1"></line>
                                <line x1="429.20000000000005" y1="155.75" x2="429.21000000000004" y2="155.75"
                                      class="ct-point" ct:value="437" opacity="1"></line>
                                <line x1="492.40000000000003" y1="130.25" x2="492.41" y2="130.25" class="ct-point"
                                      ct:value="539" opacity="1"></line>
                                <line x1="555.6" y1="129.5" x2="555.61" y2="129.5" class="ct-point" ct:value="542"
                                      opacity="1"></line>
                                <line x1="618.8000000000001" y1="129" x2="618.8100000000001" y2="129" class="ct-point"
                                      ct:value="544" opacity="1"></line>
                                <line x1="682" y1="103.25" x2="682.01" y2="103.25" class="ct-point" ct:value="647"
                                      opacity="1"></line>
                            </g>
                            <g class="ct-series ct-series-c">
                                <path d="M 50 259.25 C 60.533 255.5 92.133 238.583 113.2 236.75 C 134.267 234.917 155.333 251.458 176.4 248.25 C 197.467 245.042 218.533 224.667 239.6 217.5 C 260.667 210.333 281.733 210.125 302.8 205.25 C 323.867 200.375 344.933 191.125 366 188.25 C 387.067 185.375 408.133 193.5 429.2 188 C 450.267 182.5 471.333 159.5 492.4 155.25 C 513.467 151 534.533 161.292 555.6 162.5 C 576.667 163.708 597.733 166.625 618.8 162.5 C 639.867 158.375 671.467 141.875 682 137.75"
                                      class="ct-line"></path>
                                <line x1="50" y1="259.25" x2="50.01" y2="259.25" class="ct-point" ct:value="23"
                                      opacity="1"></line>
                                <line x1="113.2" y1="236.75" x2="113.21000000000001" y2="236.75" class="ct-point"
                                      ct:value="113" opacity="1"></line>
                                <line x1="176.4" y1="248.25" x2="176.41" y2="248.25" class="ct-point" ct:value="67"
                                      opacity="1"></line>
                                <line x1="239.60000000000002" y1="217.5" x2="239.61" y2="217.5" class="ct-point"
                                      ct:value="190" opacity="1"></line>
                                <line x1="302.8" y1="205.25" x2="302.81" y2="205.25" class="ct-point" ct:value="239"
                                      opacity="1"></line>
                                <line x1="366" y1="188.25" x2="366.01" y2="188.25" class="ct-point" ct:value="307"
                                      opacity="1"></line>
                                <line x1="429.20000000000005" y1="188" x2="429.21000000000004" y2="188" class="ct-point"
                                      ct:value="308" opacity="1"></line>
                                <line x1="492.40000000000003" y1="155.25" x2="492.41" y2="155.25" class="ct-point"
                                      ct:value="439" opacity="1"></line>
                                <line x1="555.6" y1="162.5" x2="555.61" y2="162.5" class="ct-point" ct:value="410"
                                      opacity="1"></line>
                                <line x1="618.8000000000001" y1="162.5" x2="618.8100000000001" y2="162.5"
                                      class="ct-point"
                                      ct:value="410" opacity="1"></line>
                                <line x1="682" y1="137.75" x2="682.01" y2="137.75" class="ct-point" ct:value="509"
                                      opacity="1"></line>
                            </g>
                        </g>
                        <g class="ct-labels">
                            <foreignObject style="overflow: visible;" x="50" y="270" width="63.2" height="20"><span
                                        class="ct-label ct-horizontal ct-end" style="width: 63px; height: 20px"
                                        xmlns="http://www.w3.org/1999/xhtml">'06</span></foreignObject>
                            <foreignObject style="overflow: visible;" x="113.2" y="270" width="63.2" height="20"><span
                                        class="ct-label ct-horizontal ct-end" style="width: 63px; height: 20px"
                                        xmlns="http://www.w3.org/1999/xhtml">'07</span></foreignObject>
                            <foreignObject style="overflow: visible;" x="176.4" y="270" width="63.20000000000002"
                                           height="20"><span class="ct-label ct-horizontal ct-end"
                                                             style="width: 63px; height: 20px"
                                                             xmlns="http://www.w3.org/1999/xhtml">'08</span>
                            </foreignObject>
                            <foreignObject style="overflow: visible;" x="239.60000000000002" y="270"
                                           width="63.19999999999999" height="20"><span
                                        class="ct-label ct-horizontal ct-end"
                                        style="width: 63px; height: 20px"
                                        xmlns="http://www.w3.org/1999/xhtml">'09</span>
                            </foreignObject>
                            <foreignObject style="overflow: visible;" x="302.8" y="270" width="63.19999999999999"
                                           height="20"><span class="ct-label ct-horizontal ct-end"
                                                             style="width: 63px; height: 20px"
                                                             xmlns="http://www.w3.org/1999/xhtml">'10</span>
                            </foreignObject>
                            <foreignObject style="overflow: visible;" x="366" y="270" width="63.200000000000045"
                                           height="20"><span class="ct-label ct-horizontal ct-end"
                                                             style="width: 63px; height: 20px"
                                                             xmlns="http://www.w3.org/1999/xhtml">'11</span>
                            </foreignObject>
                            <foreignObject style="overflow: visible;" x="429.20000000000005" y="270"
                                           width="63.19999999999999" height="20"><span
                                        class="ct-label ct-horizontal ct-end"
                                        style="width: 63px; height: 20px"
                                        xmlns="http://www.w3.org/1999/xhtml">'12</span>
                            </foreignObject>
                            <foreignObject style="overflow: visible;" x="492.40000000000003" y="270"
                                           width="63.19999999999999" height="20"><span
                                        class="ct-label ct-horizontal ct-end"
                                        style="width: 63px; height: 20px"
                                        xmlns="http://www.w3.org/1999/xhtml">'13</span>
                            </foreignObject>
                            <foreignObject style="overflow: visible;" x="555.6" y="270" width="63.200000000000045"
                                           height="20"><span class="ct-label ct-horizontal ct-end"
                                                             style="width: 63px; height: 20px"
                                                             xmlns="http://www.w3.org/1999/xhtml">'14</span>
                            </foreignObject>
                            <foreignObject style="overflow: visible;" x="618.8000000000001" y="270"
                                           width="63.19999999999993" height="20"><span
                                        class="ct-label ct-horizontal ct-end"
                                        style="width: 63px; height: 20px"
                                        xmlns="http://www.w3.org/1999/xhtml">'15</span>
                            </foreignObject>
                            <foreignObject style="overflow: visible;" y="240" x="10" height="25" width="30"><span
                                        class="ct-label ct-vertical ct-start" style="height: 25px; width: 30px"
                                        xmlns="http://www.w3.org/1999/xhtml">0</span></foreignObject>
                            <foreignObject style="overflow: visible;" y="215" x="10" height="25" width="30"><span
                                        class="ct-label ct-vertical ct-start" style="height: 25px; width: 30px"
                                        xmlns="http://www.w3.org/1999/xhtml">100</span></foreignObject>
                            <foreignObject style="overflow: visible;" y="190" x="10" height="25" width="30"><span
                                        class="ct-label ct-vertical ct-start" style="height: 25px; width: 30px"
                                        xmlns="http://www.w3.org/1999/xhtml">200</span></foreignObject>
                            <foreignObject style="overflow: visible;" y="165" x="10" height="25" width="30"><span
                                        class="ct-label ct-vertical ct-start" style="height: 25px; width: 30px"
                                        xmlns="http://www.w3.org/1999/xhtml">300</span></foreignObject>
                            <foreignObject style="overflow: visible;" y="140" x="10" height="25" width="30"><span
                                        class="ct-label ct-vertical ct-start" style="height: 25px; width: 30px"
                                        xmlns="http://www.w3.org/1999/xhtml">400</span></foreignObject>
                            <foreignObject style="overflow: visible;" y="115" x="10" height="25" width="30"><span
                                        class="ct-label ct-vertical ct-start" style="height: 25px; width: 30px"
                                        xmlns="http://www.w3.org/1999/xhtml">500</span></foreignObject>
                            <foreignObject style="overflow: visible;" y="90" x="10" height="25" width="30"><span
                                        class="ct-label ct-vertical ct-start" style="height: 25px; width: 30px"
                                        xmlns="http://www.w3.org/1999/xhtml">600</span></foreignObject>
                            <foreignObject style="overflow: visible;" y="65" x="10" height="25" width="30"><span
                                        class="ct-label ct-vertical ct-start" style="height: 25px; width: 30px"
                                        xmlns="http://www.w3.org/1999/xhtml">700</span></foreignObject>
                            <foreignObject style="overflow: visible;" y="40" x="10" height="25" width="30"><span
                                        class="ct-label ct-vertical ct-start" style="height: 25px; width: 30px"
                                        xmlns="http://www.w3.org/1999/xhtml">800</span></foreignObject>
                            <foreignObject style="overflow: visible;" y="15" x="10" height="25" width="30"><span
                                        class="ct-label ct-vertical ct-start" style="height: 25px; width: 30px"
                                        xmlns="http://www.w3.org/1999/xhtml">900</span></foreignObject>
                            <foreignObject style="overflow: visible;" y="-15" x="10" height="30" width="30"><span
                                        class="ct-label ct-vertical ct-start" style="height: 30px; width: 30px"
                                        xmlns="http://www.w3.org/1999/xhtml">1000</span></foreignObject>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
{% endblock %}